@* Author: Billy Mathison
    * Purpose: Creating a details template for a training program including name, start date, end date, max attendees, and list of employees.
    * Methods: None
*@

@model BangazonWorkforce.Models.TrainingProgram

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Training Program</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxAttendees)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxAttendees)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeesInTrainingProgram)
        </dt>
        @foreach (var Student in Model.EmployeesInTrainingProgram)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(modelitem => Student.FirstName) @Html.DisplayFor(modelitem => Student.LastName)
            </dd>
            <dt class="col-sm-2">
            </dt>
        }
    </dl>
</div>
<div>
    @if (Model.EndDate < DateTime.Now)
    {
        <div>
            <a asp-action="ViewPastPrograms">Back to List of Past Training Programs</a>
        </div>
        <div>
            <a asp-action="Index">Back to List of All Training Programs</a>
        </div>
    }

    @if (Model.EndDate > DateTime.Now)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        <a asp-action="Index">Back to List</a>
    }


</div>
